 <div class="todo-list">
    <h2 mat-dialog-title>To-Do List</h2>
    <input [(ngModel)]="newItemText" (keyup.enter)="addTodoItem()" placeholder="Add a new item">
    <button (click)="addTodoItem()">Add</button>
  
    <ul>
      <li *ngFor="let item of todoItems">
        <input type="checkbox" [(ngModel)]="item.completed" (change)="toggleCompletion(item.id)">
        <span [class.completed]="item.completed">{{ item.text }}</span>
        <button (click)="removeTodoItem(item.id)">Remove</button>
      </li>
    </ul>
  </div>
  <div mat-dialog-action>
    <button (click)="closepop()">Close</button>
  </div>